<div>
    <select ng-model = "selectedCategory">
        <option value="">All</option>
        <option ng-repeat="category in categories" value="{{category.id}}">
            {{category.name}}

        </option>
    </select>
</div>



<div>
    <input ng-model="searchTerm" placeholder="Search Product">

    </input>
</div>




<ul class="list-group">
    <li data-toggle="modal" data-target="#myModal" class="list-group-item" ng-repeat="auction in auctions | filter: {categoryId : selectedCategory} | filter: {name: searchTerm}" ng-click="auctionSelected(auction)" >
        <div class="row">

            <div class="col-md-8">
                <img class="productImage thumbnail zoom pull-left" ng-src="{{auction.imageUrl}}">
                <div class="col-md-6 col-md-offset-1">
                    <p class="show-description" ng-click="showDetails = ! showDetails">{{auction.name}}</p>
                    <p>Köp nu: {{auction.buyNowPrice + 'kr'}}</p>
                </div>
                <div class="product-details" ng-class="{hidden: ! showDetails}">
                    {{auction.description}}
                </div>
            </div>


        </div>

        <!-- modal start -->

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeM()" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{auction.name}} </h4>
                        <h1><small>{{auction.description}}</small></h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-1" id="pic"><img height="300" ng-src="{{auction.imageUrl}}"></div>
                            <div class="col-md-4" id="infoTable">


                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><a href="" data-toggle="modal" data-target="#myModal" id="myModalShower"></a></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- modal slut -->
    </li>
</ul>











<!--
            <div class="col-md-5">
                <img class="product-img" ng-src="{{auction.imageUrl}}">
            </div>
            <div class="col-md-6">

                <p>{{auction.name}}</p>
                <p>Pris: {{auction.price}};-</p>


                <form>
                    <div class="form-group col-md-4 col-md-offset-7" ng-controller="">
                        <button class="btn btn-danger">Lägg till i kungvagn</button>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>-->
