<div>
    <form class="form-group">
        <select class="form-control" ng-model = "selectedCategory">
            <option value="">Alla kategorier</option>
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <input class="form-control" ng-model="searchTerm" placeholder="Sök product">
    </form>

    </input>
</div>




<ul class="list-group">
    <li class="list-group-item" ng-repeat="auction in auctions | auctionTimeFilter | filter: {categoryId : selectedCategory} | filter: {name: searchTerm}">
        <div ng-click="auctionSelected(auction)" class="row">

            <div class="col-md-8">
                <img class="productImage thumbnail zoom pull-left" ng-src="{{auction.imageUrl}}">
                <div class="col-md-6 col-md-offset-1">
                    <h3>{{auction.name}}</h3>
                    <p>Köp nu: {{auction.buyNowPrice}} :-</p>
                </div>
            </div>

        </div>


    </li>
</ul>