<div class="row">
    <div class="col-md-5">
            <h1>{{auction.name}}</h1>
        <img class="detail-img" ng-src="{{auction.imageUrl}}">
        <h4>Beskrivning:</h4>
        <p>{{auction.description}}</p>
    </div>
    <div class="col-md-6">


        <div class="jumbotron">
            <p>Start: {{startTime}}<br> Slut: {{endTime}}</p>

                <input class="form-control" type="number" placeholder="Lägg bud" min="1" ng-model="bid"><br>
                <button class="btn btn-danger" ng-click="placeBid(auction)">Lägg bud</button>
                <button class="btn btn-danger" ng-click="buyNow(auction)">Köp nu: {{auction.buyNowPrice}}</button>

                <p>{{bidMessage}}</p>

            <p>Högsta budet: {{highestBid}}</p>
            <button ng-click="BidBoxIsOpen = !BidBoxIsOpen" class="btn btn-primary">Visa budhistoriken</button>
            <div ng-init="BidBoxIsOpen = false" ng-show="BidBoxIsOpen">
                <h5>Historik</h5>
                <ol>
                    <li ng-repeat="bid in bids">{{bid}}</li>
                </ol>
            </div>
        </div>







    </div>
</div>

<div class="row">
    <br>
    <div ng-click="getSupplier(auction.supplierId)">
        <button ng-click="isOpen = !isOpen" class="btn btn-primary">Visa info om leverantören</button>

        <div ng-init="isOpen = false" ng-show="isOpen" class="jumbotron">
            <h3>{{supplier.companyName}}</h3>

            <h5>Kontaktuppgifter</h5>
            <p>{{supplier.phone}}<br>{{supplier.email}}</p>

            <h5>Adress</h5>
            <p>{{supplier.address}}<br>
                {{supplier.postalCode}}<br>
                {{supplier.city}}</p>
        </div>
    </div>
</div>

