#ng-view {
    margin-top: 80px;
    margin-bottom: 80px;
}

.productImage{
    width: 40%;
    height: 40%;
}


.show-description{
    cursor: pointer ;
}

.zoom{
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

}

.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position:relative;
    z-index:100;

}

.modal-picture{
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;

}

.modal-dialog{
    width: 80%;
}

/*.list-group-item:hover{*/
    /*box-shadow: -9px 1px 62px -12px rgba(84,9,84,1);*/
/*}*/

.product-info > p{
font-family: "Berlin Sans FB";
    font-size: large;
}

