<div class="col-md-6">

    <h1>Välkommen!</h1>
    <h2 ng-hide="isAdmin">Skapa ett kundkonto</h2><h2 ng-show="isAdmin">Skapa en adminstratör</h2>

    <label>First name: </label><br>
    <input type="text" placeholder="First name..." ng-model="customer.firstName"><br><br>
    <label>Last name:</label><br>
    <input type="text" placeholder="Last name..." ng-model="customer.lastName"><br><br>
    <label>Email: </label><br>
    <input type="email" placeholder="Email..." ng-model="customer.email"><br><br>
    <label>Password: </label><br>
    <input type="password" placeholder="Password..." ng-model="customer.password"><br><br>
    <label>Phone:  </label><br>
    <input type="text" placeholder="Phone..." ng-model="customer.phone"><br><br>
    <label>Address: </label><br>
    <input type="text" placeholder="Address..." ng-model="customer.address"><br><br>
    <label>Postalcode: </label><br>
    <input type="text" placeholder="Postalcode..." ng-model="customer.postalCode"><br><br>
    <label>City:</label><br>
    <input type="text" placeholder="City..." ng-model="customer.city"><br><br>

    <a class="btn btn-info" role="button" ng-click="createCustomer()">Save</a>
    <b class="alert alert-success" ng-show="showSuccess">Användare skapad!</b>
    <b class="alert alert-danger" ng-show="showFailure">Lyckades inte skapa användare!</b>

</div>